.weather {
  border: 1px solid lightgray;
  padding: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  border-radius: 10px;
  /* background-color: cyan;*/
  background-image: url(./weatherbg.png);
}

.weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weather span {
  font-size: 40px;
  /* position: relative; */
}

.weather canvas {
  height: 40px;
  margin: 10px;
}

.weather h1 {
  margin-top: 20px;
  margin-bottom: 0;
}
